MDPI_template
doc

# Archivos auxiliares LaTeX
*.aux
*.bbl
*.bcf
*.bit
*.blg
*.fdb_latexmk
*.glo
*.idx
*.log
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
input_material
/survey_sensores_percepcion_ADAS.pdf
